:root{
    --cor-fundo: #070707;
    --fonte-principal: #FFF;
    --fonte-secundaria: #0085C2;
    --hover-fundo: #009ee7;
    --cards-inputs: #292929;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(-100%);
    }
    100% 
    {
      transform: translateX(0);
    }
  }

html{
    height: 100%;
}

body{
    color: var(--fonte-principal);
    background-color: var(--cor-fundo);
    font-family: 'Arimo', sans-serif;
    animation: 1.2s ease-in 0s 1 slideInFromRight;
    animation-duration: 1.s;
}

a{
    color: var(--fonte-principal);
    margin: 2% 0;
}

h1{ 
    font-size: 2.5rem !important;

}

h2{
    font-size: 1.8rem !important;
    margin: 5% 0;
}

h3{
    font-size: 1.4rem !important;
    margin: 5% 0;
}

p{
    line-height: 1.5;
    margin: 2% 0;
}

.menu-navegacao{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 9;
    background-color: var(--cards-inputs);
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    padding: 5%;
    animation: 1.2s ease-in 0s 1 slideInFromRight;
    animation-duration: 0.5s;

}

.menu-navegacao a{
    margin: 8% 0;
    text-decoration: underline;
}

#header-home{
    padding: 10% 0 5% 2%;
    letter-spacing: 1.5;
    background-image: url(midia/banner-home-mini.png);
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    flex-direction: column;
}


.menu-hamburguer{
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 2% 0;
    background-color: var(--cor-fundo);
    color: var(--fonte-principal);
    
}

.titulo{
    margin: 3% 0;
}

.metade-titulo{
    color: var(--fonte-secundaria);
}

.link-destaque{
    font-size: 1.5rem;
}

.galeria-home{
    padding: 2%;
    animation: 1.2s ease-out 0s 1 slideInFromRight;
}

.subtitulo-colorido{
    color: var(--fonte-secundaria);
}

.galeria-home, .about-home, .contact-home, .form-cadastro{
    padding: 5% 2%;
}

.container{
    margin: 5% 0;
}

.carousel-inner{
    border-radius: 15px;
    filter: drop-shadow(0px 4px 4px rgba(101, 101, 101, 0.25));
}

.carousel-item{
    filter: drop-shadow(0px 4px 4px rgba(101, 101, 101, 0.25));
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 3% 0;
}

form input, form select, form textarea{
    background-color: var(--cards-inputs);
    color: var(--fonte-principal);
    margin: 8px 0;
    padding: 1%;
    border-radius: 7px;
    font-size: 1.2rem;
    
}

label{
    font-size: 1.2rem;
}

::placeholder{
    color: var(--fonte-principal);
}

input[type="submit"]{
    background-color: var(--fonte-secundaria);
    font-size: 1.2rem;
    font-weight: bold;
    width: 60%;
    margin-left: auto;
}

input[type="submit"]:hover{
    background-color: var(--hover-fundo);
}

footer{
    background-color: var(--cards-inputs);
    font-size: 0.8rem;
    padding: 3% 0;
    text-align: center;
}

.icons-social img{
    width: 32px;
    height: 32px;
    margin: 8px 16px
}

.header-comum{
    padding: 10% 0 5% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about{
   /* background-image: url(midia/fundo-about.jpg); */
    padding: 5% 2%;;
}

.card-mvv1, .card-mvv2{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(7,7,7,1) 38%, rgba(41,41,41,1) 100%);
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(101, 101, 101, 0.25);
    text-align: center;
    margin: 8% 0;
}

.card-hover:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


@media screen and (min-width: 1280px) {

    h1{ 
        font-size: 4rem !important;
    
    }
    
    h2{
        font-size: 2.2rem !important;
        margin: 2% 0;
    }
    
    h3{
        font-size: 1.8rem !important;
        margin: 2% 0;
    }
    
    p{
        line-height: 1.5;
        margin: 2% 0;
        font-size: 1.2rem;
    }

    a{
        color: var(--fonte-principal);
        margin: 2% 0;
        font-size: 1.2rem;
    }

    button{
        font-size: 36px !important;
        width: 48px !important;
        height: 48px !important;
    }

    .menu-navegacao{
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 9;
        background-color: var(--cards-inputs);
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        padding: 5%;
    
    }

    .menu-navegacao a{
        margin: 2% 0;
    }
  
    #header-home{
        padding: 5% 0 0% 2%;
        letter-spacing: 1.5;
        background-image: url(midia/banner-home.png);
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .galeria-home, .about-home, .contact-home, .form-cadastro{
        padding: 2% 2%;
    }

    footer{
        background-color: var(--cards-inputs);
        font-size: 0.8rem;
        padding: 1% 0;
        text-align: center;
    }

    .mvv-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .missao-visao-valores{
        display: flex;
        flex-direction: column;
    }

    input[type="submit"]{
        background-color: var(--fonte-secundaria);
        font-size: 1.2rem;
        font-weight: bold;
        width: 40%;
        margin-left: auto;
    }
    
  }